# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# 项目数据
*.db
*.db-wal
*.db-shm
data/

# 配置文件
.env

# IDE
.idea/

# 测试
.pytest_cache/

# AutoDL
ollama-linux-amd64.tar.zst
ollama-linux-amd64.tgz

# 日志
*.log

# 评估结果
eval_results/

# 其他
token.json
token.txt
test.txt
chat.json
fastapi_demo.py
